.nav-bar {
  height: 4%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  // overflow: hidden;
  display: flex;
  // vertical centering
  align-items: center;
  background-color: grey;
  border-bottom: 1px solid black;

  & > * {
    height: 75%;
  }

  & .home-button {
    margin-left: 10px;
  }

  & .back-page-btn {
    margin-right: 20px;
    margin-left: auto;
  }

  & .forward-page-btn {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .nav-bar {
    height: 55px;
  }
}
