.recipe-description {
  background-color: $secondary;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 50%;
  border-bottom: 2px solid black;

  & > * {
    // horizontal center
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    // vert
    align-items: center;
  }

  & .recipe-title {
    height: 20%;
  }

  & .recipe-image {
    height: 75%;
  }

  & .recipe-num-ingredients-used-message {
    height: 25%;
  }
}
@media only screen and (min-width: 768px) {
  .recipe-description {
    height: 100%;
    width: 50%;
    background-color: $secondary;
    color: white;
    font-weight: 200;
    // horizontal center
    flex-direction: column;
    display: flex;
    justify-content: center;

    align-items: center;

    & > * {
      margin-left: 5px;
      margin-right: 5px;
      display: flex;
      justify-content: center;
    }

    & .recipe-title {
      height: 10%;
      // horizontal center
      align-items: center;
      font-size: 20px;
    }

    & .recipe-image {
      border: 2px black solid;
      align-self: center;
      height: 65%;
    }

    & .recipe-num-ingredients-used-message {
      // horizontal center
      height: 10%;
      display: flex;
      justify-content: center;
    }
  }
}
