.selected-ingredient-list {
  border-radius: 2%;
  margin-top: 80px;
  overflow-y: auto;
  height: 321px;
  max-width: 65%;
  background-color: 'secondary';

  & > li {
    text-align: left;
  }

  & .remove-ingredient-icon {
    vertical-align: middle;
    color: grey;
  }

  & hr {
    margin-right: 36px;
  }
}

@media only screen and (min-width: 768px) {
  .selected-ingredient-list {
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 5px;

    & > li {
      // border: 1px solid grey;
      padding: 5px;
      margin-top: 5px;
      margin-bottom: -20px;
      text-align: left;
      font-size: 20px;
    }

    & .remove-ingredient-icon {
      vertical-align: middle;
      color: grey;
    }

    & ::-webkit-scrollbar {
      width: 10px;
    }
  }
}
