.selected-ingredient-list {
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 5px;

  & > li {
    margin-left: 15px;
    text-align: left;
    font-size: 30px;
  }
}
