// desktop
.select-submit-ingredients {
  width: 100%;
  height: 45px;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin-bottom: 10px;

  & > [class*='container'] {
    width: 56%;
  }

  & [class*='placeholder'] {
    font-size: 20px;
  }
}

// mobile
@media only screen and (max-width: 768px) {
  .select-submit-ingredients {
    width: 100%;
    display: flex;
    align-items: center;

    & > [class*='container'] {
      font-size: 12px;
      height: 75%;
      width: 88%;
    }

    & [class*='ValueContainer'] {
      width: 100%;
      overflow: hidden;

      & [class*='placeholder'] {
        display: inline-block;
        white-space: nowrap;
        font-size: calc(100vw / 32);
      }
    }

    & [class*='MuiButton-contained'] {
      width: 15%;
      min-width: 4%;
      height: 75%;
      max-height: 75%;
    }
  }
}
