// desktop
.select-submit-ingredients {
  width: 65%;
  display: flex;
  gap: 0.75rem;
  height: 45px;
  align-items: center;
  margin-bottom: 10px;

  & [class*='placeholder'] {
    font-size: 20px;
  }
}

// mobile
@media only screen and (max-width: 768px) {
  .select-submit-ingredients {
    width: 100%;
    display: flex;
    align-items: center;

    & > [class*='container'] {
      font-size: 12px;
      height: 75%;
      width: 88%;
    }

    & [class*='placeholder'] {
      font-size: 12px;
    }

    & [class*='MuiButton-contained'] {
      width: 15%;
      min-width: 4%;
      height: 75%;
      max-height: 75%;
    }
  }
}
