// desktop
.recipe-details-page {
  background-image: url('../images/dinner_table_desktop.jpg');
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  & .recipe-details-page-inner {
    display: flex;
    margin-bottom: 1.2%;
    margin-left: 0.3%;
    height: 37.5vw;
    width: 72.6vw;
    background-color: white;
    border: 5px solid black;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 768px) {
  .recipe-details-page {
    // overflow: hidden;
    height: 100%;
    background-image: url('../images/dinner_table.jpg');
    background-repeat: no-repeat;
    background-size: 140%;
    background-position-x: 56.5%;
    background-position-y: 80.5%;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    .recipe-details-page-inner {
      height: 172vw;
      width: 88vw;
      display: flex;
      flex-direction: column;
    }
  }
}
