.recipe-details-page {
  height: 111%;
  background-image: url('../images/dinner_table.jpg');
  background-repeat: no-repeat;
  background-size: 137%;
  background-position-x: -82px;
  background-position-y: 0px;
  // background-position-x: -80px;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  .recipe-details-page-inner {
    background-color: white;
    border: 2px solid black;
    width: 87%;
    height: 78%;
    top: 104px;
    position: fixed;
  }
}

@media only screen and (min-width: 768px) {
  .recipe-details-page {
    // width: 100%;
    background-image: url('../images/dinner_table_desktop.jpg');
    background-size: 1072px;
    background-position-x: 182px;
    background-position-y: 112%;

    & .recipe-details-page-inner {
      padding: 0px;
      margin: 0px;
      // left: 306px;
      top: 150px;
      // width: 821px;
      width: 0px;
      height: 421px;
      position: fixed;
      display: flex;
    }

    & .ingredient-details {
      width: 46%;
      margin: 5px;
    }
  }
}
