// desktop
.search-results-page {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;

  & > * {
    margin-left: 2%;
    margin-right: 2%;
  }

  & .search-results-title {
    height: 10%;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & [class*='MuiGrid-container'] {
    border-top: 1px solid black;
    justify-content: center;
    height: 88%;
    margin-top: 0px;
    margin-left: 1%;
    padding-bottom: 10px;
    overflow-y: auto;
    width: 99%;

    & [class*='MuiGrid-item'] {
      width: 25%;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      padding: 16px;
    }

    & [class*='MuiGrid-item']:last-child {
      padding-right: 1%;
      border-right: 1px solid black;
    }
  }

  & [class*='MuiPaper-root'] {
    width: 100%;
    background-color: rgb(170, 172, 172);
    border: 1px solid black;
  }
}

//mobile
@media only screen and (max-width: 768px) {
  .search-results-page {
    & [class*='MuiGrid-container'] {
      height: 100%;
      width: 100%;
      margin-left: 0%;

      & [class*='MuiGrid-item'] {
        width: 100%;
      }
    }
  }
}
