@use '@material/button/styles';
@import 'abstracts/variables';
@import 'containers/search-page';
@import 'containers/recipe-details-page';
@import 'components/multi-ingredient-select';
@import 'components/ingredient-list';

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Sanchez', serif;
  -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout-background {
  height: 100%;
}

.layout-foreground {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
